<ion-header>
  <ion-navbar>
    <ion-title>
      Canciones
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let cancion of canciones">
    <ion-item (click)="ReproducirCancion(cancion)">
        <h2>{{cancion.titulo}}</h2>
        <h4>{{cancion.grupo}}</h4>
        <ion-icon *ngIf="cancion.reproduciendo" name="pause" item-right></ion-icon>
        <ion-icon *ngIf="!cancion.reproduciendo" name="play" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
